In [1]:
import pandas as pd

In [3]:
data_frame=pd.read_csv("/content/StudentsPerformance.csv")
data_frame.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [4]:
data_frame.shape

(1000, 8)

In [5]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [6]:
#from the above info we can conclude that there are no null values in the data

In [7]:
data_frame.rename(columns = {'gender':'Gender', 'race/ethnicity':'Race/Ethnicity', 'parental level of education':'Parents Education',
                             'lunch':'Lunch', 'test preparation course':'Test Preparation course','math score':'Math Score',
                             'reading score':'Reading Score', 'writing score':'Writing Score'}, inplace=True)
data_frame.columns

Index(['Gender', 'Race/Ethnicity', 'Parents Education', 'Lunch',
       'Test Preparation course', 'Math Score', 'Reading Score',
       'Writing Score'],
      dtype='object')

In [8]:
#After making necessary data processing steps, finally we are saving the dataframe as a file.

In [9]:
data_frame.to_csv(r'/content/StudentsPerformance_dataClean.csv', index=False)